<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message Submitted</title>
</head>
<body>
<section class="contact-me bg-light py-4" id="contact">
    <div class="container-lg py-4 ">
        <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <div class="section-title text-center">
            <h2 class = "fw-bold  mb-5">Thanks,Message Submitted Successfully </h2>
            </div>
        </div>
        </div>
    </div>
</Section>

</body>
</html>